# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Flask
instance/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Database backups
*.sql.bak